<div class="row">
  <div class="col-12 col-md-12 p-3">
    <h3>Welcome to ITI</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo error
      voluptas tenetur dolorem, cum natus saepe vitae eveniet harum.
    </p>
  </div>
  <div class="col-12 col-md-5 p-3 p-md-5">
    <img
      class="img-fluid rounded"
      src="https://identity.iti.gov.eg/images/ITI%20logo.png"
      width="250"
    />
  </div>
  <div class="col-12 col-md-7 p-3 p-md-5">
    <h3>
      <u>About Us</u>
    </h3>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos esse
      dolore architecto saepe! Maiores, quidem?<br />
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas ea nam,
      unde odio ab natus expedita temporibus architecto eligendi nobis! Vitae,
      ratione a? In iste expedita rerum hic nemo perspiciatis?
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, vel.</p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium
      recusandae voluptatum, veniam aut, molestias ipsam porro assumenda et
      perspiciatis atque ad hic quasi, neque nostrum sequi dolorem minus
      similique dolores.
    </p>
    <p>
      Need help or have web app project you can call us <br />whatsapp :
      +01553379091
    </p>
  </div>
  <div class="col-12 col-md-12 p-3 p-md-5">
    <h2 class="border border-dark text-center p-3">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    </h2>
  </div>
</div>
